:root {
  --primary-color: #f2f2f2;
  --secondary-color: #787a91;
  --tertiary-color: #141e61;
  --background-color: #0f044c;
}

html {
  font-size: 62.2%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  box-sizing: border-box;
}
